<?xml version="1.0"?>
<model>
  <name>bigbrother</name>
  <version>1.0</version>
  <sdf version='1.7'>bigbrother.sdf</sdf>

  <author>
   <name>Mitroudas Tilemahos</name>
   <email>mitroudas.tilemahos@gmail.com</email>
  </author>

  <description>
    This is a model of the BigBrother Drone which can be found 
    at https://github.com/telemc97/BigBrother
  </description>
</model>
